body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    font-size: 2em;
    text-size-adjust: 200%;
}

p {
    font-size: 1em;
    text-size-adjust: 200%;
}

.leaflet-container {
    width: 100%;
    margin: 0;
}

.info-container {
    box-sizing: border-box;
    border: 1em solid black;
    background-color: #f0f0f0;
    padding: 1em;
    overflow: scroll;
}

.pic-container {
    display: flex;
    flex-wrap: wrap;
}

.pic-container img {
    max-width: 100%;
    object-fit: contain;
    margin: 1em 0 0 0;
}

@media all and (max-width: 1080px){
    #root > div {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50vh minmax(50vh, auto); 
        width: 100%;
    }

    .info-container {
        overflow: visible;
    }
}

@media all and (min-width: 1081px){
    #root > div {
        display: grid;
        grid-template-columns: minmax(50%,75%)  minmax(400px, 25%);
        grid-template-rows: 100vh; 
        width: 100%;
    }
}